body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Lucida Grande", "Helvetica", sans-serif;
}

/* LAYOUT UTILS */
.flex {
  display: -webkit-flex;
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row-between {
  flex-direction: row;
  justify-content: space-between;
}

.flex-full {
  flex: 1;
}

/* HEADER */
.site-header {
  flex: 0;
  padding: 4px 0px;
  border-bottom: 2px solid #ccc;
  background-color: #eee;
}

.site-header > *:first-child {
  margin-left: 12px;
}

.site-header > *:last-child {
  margin-right: 12px;
}

.site-header h1 {
  font-size: 24px;
}

.site-header button {
  font-size: 20px;
}

/* SIDEBAR */
.sidebar {
  flex: 0 0 20%;
  border-right: solid 1px #ccc;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar h4 {
  background-color: #ddd;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 4px;
}

.sidebar li {
  padding: 4px;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 4px 0;
}

.content * {
  padding: 0 12px;
}

/* ITEM LIST */
.item-section {
  list-style-type: none;
  margin: 32px 0 0;
  padding: 0;
}

.item-section h3 {
  font-weight: normal;
  font-style: italic;
}

.item {
  margin-bottom: 8px;
}

.item:hover {
  background-color: #eee;
}

.item > * {
  font-size: 18px;
  padding: 8px;
}

.item-name {
  flex: 1;
}

.item-price {
  flex: 0;
}

/*modal stuff*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    float: right; 
}

.modallist{
    margin-top:10px; 
    list-style-type: none; 
    display: inline-block;
    *display: inline;
    zoom: 1
}

.modallist2{
    margin-top:10px; 
    margin-left: 50%; 
    list-style-type: none; 
    display: inline-block;
    *display: inline;
    zoom: 1
}

#modal-delete {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}